<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="/LiliBelleLogo.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LillyBelle Employees</title>
</head>
<body>
    <form action='/add-employee' method="post">
        <div class="container">
            <div class="options">
                <img src="/LiliBelleLogo.png" alt="Lili Belle logo" style="height: 200px;">
                <h3>la date d'aujourd'hui : <%= data.formattedDate  %></h3>
                <label id="table-label" for="Employe">Le collaborateur : </label>
                <br>
                <select name="Employe" id="Employe" >    
                    <%data.EmployeesNames.forEach((name)=>{%>
                    <option value="<%= name  %>"><%= name %></option>  
                    <%})  %> 
                </select><br>

                <label id="table-label" for="presence">Ta présence : </label>
                <br>
                <select name="presence" id="presence" >    
                    <%data.Presence.forEach((name)=>{%>
                    <option value="<%= name  %>"><%= name %></option>  
                    <%})  %> 
                </select><br>
                <label id="table-label" for="statut">Statut de travail: </label>
                <br>
                <select name="statut" id="statut" >    
                    <%data.statut.forEach((name)=>{%>
                    <option value="<%= name  %>"><%= name %></option>  
                    <%})  %> 
                </select><br>
                

                <label id="table-label" for="activity">Ton activité actuelle : </label>
                <br>
                <select name="activity" id="activity" >    
                    <%data.activity.forEach((name)=>{%>
                    <option value="<%= name  %>"><%= name %></option>  
                    <%})  %> 
                </select><br>
    
                <label id="table-label" for="Opportunité">Opportunité : </label>
                <br>
                <select name="Opportunité" id="Opportunité">    
                    <%data.Opportunité.forEach((name)=>{%>
                    <option value="<%= name  %>"><%= name %></option>  
                    <%})  %> 
                </select><br>
                <div id="opportunity-input" class="hidden mb-3">
                    <label id="table-label" for="opportunityDetails"> Quelle Opportunité </label>
                    <input  type="text" id="opportunityDetails" name="opportunityDetails" class="form-control" placeholder="ecris plus de detail ici ..." >
                </div>

                <label id="table-label" for="Probleme">Problème rencontré : </label>
                <br>
                <select name="Probleme" id="Probleme" >    
                    <%data.ProblèmeRencontré.forEach((name)=>{%>
                    <option value="<%= name  %>"><%= name %></option>  
                    <%})  %> 
                </select><br>

                <label id="table-label" for="Fournisseur"> Fournisseur : </label>
                <br>
                <select name="Fournisseur" id="Fournisseur" >    
                    <%data.Fournisseur.forEach((name)=>{%>
                    <option value="<%= name  %>"><%= name %></option>  
                    <%})  %> 
                </select>
                <br>
                 <h5>Présence en journée (heure) </h5> 
                <br>
                <label id="table-label" for="PresenceEnMatine">La matinée : </label>
                <input type="number" name="PresenceEnMatine" id="PresenceEnMatine" min="0" max="6" value="0">
                <label id="table-label" for="client">Nom de client (matinée): </label>
                <br>
                <select name="clientDuMatin" id="clientDuMatin" >    
                    <%data.client.forEach((name)=>{%>
                    <option value="<%= name  %>"><%= name %></option>  
                    <%})  %> 
                </select><br>


                <label id="table-label"  for="PresenceEnAprèsMidi">En après-midi : </label>
                <input type="number" name="PresenceEnAprèsMidi" id="PresenceEnAprèsMidi" min="0" max="6" value="0">
                <br>
                <label id="table-label" for="client">Nom de client (après-midi): </label>
                <br>
                <select name="clientApresMidi" id="clientApresMidi" >    
                    <%data.client.forEach((name)=>{%>
                    <option value="<%= name  %>"><%= name %></option>  
                    <%})  %> 
                </select><br>

                <label id="table-label" for="comment">Écris un commentaire :</label>
                <input id="comment" type="text" placeholder="Laisser ton commentaire ici ...." name="comment">

                <button type="submit">Submit</button>
            
            </div>  
        </div>
    </form>
    <% const hasMatchingDate = employees.some(employee => employee.formattedDate === data.formattedDate); %>
    <% if(hasMatchingDate){ %>
        <div class="data-table">
        <table>
            <tr>
                <th>Nom de l'employé</th>
                <th>la Date</th>
                <th>Presence</th>
                <th>Status de travail</th>
                <th>Activité</th>
                <th>Problème Rencontré</th>
                <th>Fournisseur</th>
                <th>Présence la matinée</th>
                <th>Client du matin</th>
                <th>Présence en après-midi</th>
                <th>Client après-midi</th>
            </tr>
            <% employees.forEach(employee => { %>
                <tr>
                    <td><%= employee.EmployeesNames %></td>
                    <td><%= employee.formattedDate %></td>
                    <td><%= employee.Presence %></td>
                    <td><%= employee.statut %></td>
                    <td><%= employee.activity %></td>
                    <td><%= employee.ProblèmeRencontré %></td>
                    <td><%= employee.Fournisseur %></td>
                    <td><%= employee.PresenceEnMatine %></td>
                    <td><%= employee.clientDuMatin %></td>
                    <td><%= employee.PresenceEnAprèsMidi %></td>
                    <td><%= employee.clientApresMidi %></td>
                    
                </tr>
                <% }) %>

        </table>


        </div>
    <%}else {%>
        <h1 style="background-color: #009879; width:500;margin:auto;padding:10px;text-align: center;color:#fff">No one registered today </h1>
    <%} %>

    
    <script>
        document.getElementById('Opportunité').addEventListener('change', function() {
            const opportunityInput = document.getElementById('opportunity-input');
            const selectedOption = this.options[this.selectedIndex].text;
            if (selectedOption === "pas d'opportunités") {
                opportunityInput.classList.add('hidden');
            } else {
                opportunityInput.classList.remove('hidden');
            }
        });
    </script>
    
    
</body>
</html>